#!/bin/sh
export PYTHONWARNINGS="ignore:Unverified HTTPS request"
cd "`dirname $0`/.."
exec python3 jabrssng.py \
    --jid=JabRSS@cmeerw.net/JabRSS --connect-host=swissjabber.ch \
    --password-file=/home/cmeerw/jabrss/jabrss-passwd
